@media only screen and (max-width: 1px) and (max-width:700px) {
  .nav-list {
    flex-direction: column;
    padding: 1px 2px;
  }
  .navbar {
    flex-direction: column;
    transition: ease-out;
    height: auto;
    background:whitesmoke;
    padding: 1px 2px;
  }
  .image{
  background-position:center;
}

  .rightNav {
    text-align: center;
  }
  .donate {
    display: block;
    font-size: large;
  }
  .h-nav-resp {
    height: 72px;
  }
  .v-class-resp {
    opacity: 0;
  }
  .box-main {
    flex-direction: column-reverse;
    max-width: 100%;
    font-family: "Playfair Display";
  }
  .section {
    flex-direction: column-reverse;
  }
  .text-small {
    text-align: center;
  }
  .text-big {
    text-align: center;
    font-family: "Playfair Display", serif;
  }
  .buttons {
    text-align: center;
   
  }
  .paras {
    padding: 0px;
  }
}
